<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/reservation/reservation.css}" type="text/css">
  <title>Reservation</title>
</head>
<body>
  <nav id='navi' th:replace="fragments/common :: menu"></nav>
  <div class="title">예약</div>
  <section>
    <div class="container">
      <form role="form" action="/reservations/new" method="post">
        <div th:object="${user}">
          <input type="hidden" th:field="*{id}">
          <input type="hidden" th:field="*{name}">
          <input type="hidden" th:field="*{email}">
        </div>
        <div class="form-group">
            <label for="table" class="leftLabel">예약 테이블 번호</label>
            <select name="tableId" id="table" class="form-control tableN">
              <option value="">테이블번호 선택</option>
              <option th:each="table : ${tables}"
                      th:value="${table.id}"
                      th:text="${table.number}" />
            </select>
        </div>
        <div class="form-group" th:object="${reservation}">
            <label th:for="covers" class="leftLabel">예약 인원</label>
            <input type="number" th:field="*{covers}" class="form-control clientN" placeholder="예약 인원을 입력하세요"
                   th:class="${#fields.hasErrors('covers')}? 'form-control fieldError' : 'form-control'" />
            <p th:if="${#fields.hasErrors('covers')}" th:errors="*{covers}">잘못된 입력값이 들어올때</p>
        </div>
        <div class="form-group" th:object="${reservation}">
            <label th:for="startTime" class="leftLabel">예약 날짜 및 시간</label>
            <input type="datetime-local" th:field="*{startTime}" class="form-control reservTime" placeholder="예약 시간을 입력하세요"
                   th:class="${#fields.hasErrors('startTime')}? 'form-control fieldError' : 'form-control'" />
            <p th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">잘못된 입력값이 들어올때</p>
        </div>
        <div class="form-group" th:object="${reservation}">
          <label th:for="term" class="leftLabel">이용 시간(분)</label>
            <input type="number" th:field="*{term}" class="form-control utility" placeholder="예약을 몇분 할지 입력하세요"
                   th:class="${#fields.hasErrors('term')}? 'form-control fieldError' : 'form-control'" />
            <p th:if="${#fields.hasErrors('term')}" th:errors="*{term}">잘못된 입력값이 들어올때</p>
        </div>
        <div class="form-group" th:object="${reservation}">
            <label th:for="term" class="leftLabel">요청사항</label>
            <textarea cols="30" rows="6" placeholder="창가자리, 유아용 의자 필요 등" /></textarea>
        </div>
        <div class="agreeArea" th:object="${reservation}">
          <div class="agree">취소/환불 규정</div>
          <table border="1" class="cancleTable">
            <tbody>
            <tr>
              <td class="guide">이용 2일 전 오후 5시까지</td>
              <td>결제금액에 대한 취소 수수료 없음</td>
            </tr>
            <tr>
              <td class="guide">이용 1일 전 오후 5시까지</td>
              <td>결제금액의 50% 차감</td>
            </tr>
            <tr>
              <td class="guide">이용 1일 전 오후 5시~이용 당일</td>
              <td class="noCan">취소 불가</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="reservSubmit">
          <button type="submit" class="btn btn-primary" >예약하기</button>
        </div>
      </form>
    </div> <!-- /container -->
  </section>
</body>
</html>