<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{css/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{css/reservation/reservationList.css}" type="text/css">
    <title>Reservation List</title>
</head>
<body>
    <nav id='navi' th:replace="fragments/common :: menu"></nav>
    <div class="title">예약 조회</div>
    <section>
        <table class="table table-striped" border="1">
            <thead>
            <tr>
                <th>예약 ID</th>
                <th>예약 테이블번호</th>
                <th>예약인원</th>
                <th>예약한 이용자 이름</th>
                <th>예약시작 시간</th>
                <th>예약만료 시간</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item : ${reservations}">
                <td th:text="${item.id}">예약 ID</td>
                <td th:text="${item.table.number}">예약 테이블번호</td>
                <td th:text="${item.covers}">예약인원</td>
                <td th:text="${item.user.name}">예약한 이용자 이름</td>
                <td th:text="${item.startTime}">예약시작 시간</td>
                <td th:text="${item.closeTime}">예약만료 시간</td>
                <td th:if="${item.user.email} == ${userEmail}">
                    <a href="#" th:href="@{/reservations/{id}/edit (id=${item.id})}"
                       class="btn btn-primary" role="button">수정</a>
                </td>
                <td th:if="${item.user.email} == ${userEmail}">
                    <a href="#" th:href="'javascript:cancel('+${item.id}+')'"
                       class="btn btn-danger" role="button">삭제</a>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/tables/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>