<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <title>Statistics</title>
    <style>
        .title{
            font-size: 30px;
            font-weight: 800;
            background-color: rgba(124, 118, 121, 0.185);
            padding: 20px;
        }
    </style>
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">
        google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var dataList = [];
            dataList.push([${tableId}, ${num}]);
            var data = google.visualization.arrayToDataTable([
                ['month', 'tableId'],
                dataList
            ]);
            var options = {
                title: '테이블별 예약 빈도수',
                pieHole: 0.4,
                backgroundColor:'rgb(243, 240, 235)'
            };
            var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
            chart.draw(data, options);
        }

    </script>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<div class="title">이용 통계</div>
<section>
    <div id="donutchart" style="width: 800px; height: 450px; z-index: -1"></div>
</section>

</body>
</html>