<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/table/table.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
  <title>Table Setting</title>
</head>
<style>
  .fieldError {
    border-color: #bd2130;
  }
</style>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<h3 class="title">테이블 등록</h3>
<form role="form" action="/tables/new" th:object="${tableDto}" method="post">
  <div class="date">
    <p>날짜</p>
    <input type="date">
  </div>
  <div class="form-group">
    <label th:for="number">테이블 번호</label>
    <input type="text" th:field="*{number}" class="form-control" placeholder="테이블 번호를 입력하세요."
           th:class="${#fields.hasErrors('number')}? 'form-control fieldError' : 'form-control'" />
    <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}">입력값이 없음</p>
  </div>
  <div class="form-group">
    <label th:for="seats">테이블 좌석</label>
    <input type="text" th:field="*{seats}" class="form-control" placeholder="테이블 좌석 수를 입력하세요."
           th:class="${#fields.hasErrors('seats')}? 'form-control fieldError' : 'form-control'" />
    <p th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}">입력값이 없음</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>