<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/table/table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <title>Table Modification</title>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<h3 class="title">등록된 테이블</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>테이블 번호</th>
        <th>테이블 좌석 수</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${tables}">
        <td th:text="${item.number}">테이블 번호</td>
        <td th:text="${item.seats}">테이블 좌석 수</td>
        <td>
            <a href="#" th:href="@{/tables/{id}/edit (id=${item.id})}"
               class="btn btn-primary" role="button">수정</a>
        </td>
        <td>
            <a href="#" th:href="'javascript:cancel('+${item.id}+')'"
               class="btnD" role="button">삭제</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td> </td>
        <td>
            <a class="btn" href="/tables/new">새로운 테이블 등록</a>
        </td>
        <td>
            <a class="btn" href="/">홈으로 돌아가기</a>
        </td>
        <td></td>
    </tr>
    </tfoot>
</table>
</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/tables/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>