<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:object="${table}" method="post">
  <div class="form-group">
    <label th:for="number">테이블 번호</label>
    <input type="hidden" th:field="*{number}">
    <p th:text="${table.number}" />
  </div>
  <div class="form-group">
    <label th:for="seats">테이블 좌석 수</label>
    <input type="text" th:field="*{seats}" class="form-control" placeholder="변경할 좌석 수를 입력하세요"
           th:class="${#fields.hasErrors('seats')}? 'form-control fieldError' : 'form-control'" />
    <p th:if="${#fields.hasErrors('seats')}" th:errors="*{seats}">입력값이 없음</p>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>