<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/membership/card.css}" type="text/css">
    <title>Card</title>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<div class="title">카드사</div>
<div class="explanation">현장 할인으로 저렴하게 SE 레스토랑을 즐겨보세요</div>
    <section>
        <div class="cardList">
            <ul class="cardul">
                <li class="cards"><div class="cbtn">삼성카드</div>
                    <ul class="cardsul sam">
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/samsungC1.png}" >
                            <h3>American Express Gold</h3>
                            <div class="p">
                                <p>-5만원 이상 결제시 10%할인</p>
                                <p>-통합 월 1회/연 3회 제공</p>
                            </div>
                        </li>
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/samsungC2.png}">
                            <h3>taptap DIGITAL</h3>
                            <div class="p">
                                <p>-5만원 이상 결제시 10%할인</p>
                                <p>-통합 월 1회/연 6회 제공</p>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="cards"><div class="cbtn">신한카드</div>
                    <ul class="cardsul shin">
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/shinC1.png}">
                            <h3>신한카드 The More[더모아]</h3>
                            <div class="p">
                                <p>-4만원 이상 결제시 15% 할인</p>
                                <p>-레스토랑 지정일 추가 10% 할인</p>
                            </div>
                        </li>
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/shinC2.png}">
                            <h3>신한카드 Love Platinum#</h3>
                            <div class="p">
                                <p>-4만원 이상 결제시 15% 할인</p>
                                <p>-레스토랑 지정일 추가 10% 할인</p>
                            </div>
                        </li>
                    </ul>
                </li>

                <li class="cards"><div class="cbtn">BC카드</div>
                    <ul class="cardsul bc">
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/bcC1.png}">
                            <h3>카드의 정석 DISCOUNT</h3>
                            <div class="p">
                                <p>-5만원 이상 결제시 20% 할인</p>
                                <p>-생일 축하 10% 추가 할인</p>
                            </div>
                        </li>
                        <li class="card">
                            <img class="cardImg" th:src="@{/cardImg/bcC2.png}">
                            <h3>KT Super 할부 카드</h3>
                            <div class="p">
                                <p>-4만원 이상 결제시 15% 할인</p>
                                <p>-일 1회, 건당 최대 2만원까지 할인</p>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>

</body>
</html>