<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/membership/card.css}" type="text/css">
    <title>Card</title>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<div class="title">카드사</div>
<div class="explanation">현장 할인으로 저렴하게 SE 레스토랑을 즐겨보세요</div>
    <section>
        <div class="card">
            <img class="cardImg1" th:src="@{/image/cardImg/001.png}" >
            <img class="cardImg2" th:src="@{/image/cardImg/002.png}" >
            <img class="cardImg3" th:src="@{/image/cardImg/003.png}" >
        </div>
    </section>
</body>
</html>