<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/membership/coupon.css}" type="text/css">
    <title>Coupon</title>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
    <div class="list">
        <ul>
            <li class="li event">
                <a href="/membership/event">이벤트</a>
            </li>
            <li class="li coup">
                <a href="/membership/coupon">쿠폰</a>
            </li>
        </ul>
    </div>
    <section>
        <div class="image">
            <img th:src="@{/image/coupImg/cop1.png}">
            <img th:src="@{/image/coupImg/cop2.png}">
            <img th:src="@{/image/coupImg/cop3.png}">
        </div>
    </section>
    <div class="text">
        <p>
            - 다른 쿠폰과 중복 사용하실 수 없습니다. (1인당 1 매 사용 / 현금 환불 및 교환 불가)
        </p>
        <p>
            - 주문 전 쿠폰 사용을 미리 말씀해주시기 바랍니다.
        </p>
        <p>
            - 본 쿠폰은 비매품으로 다른 사람에게 판매 또는 양도하실 수 없습니다.
        </p>
        <p>
            - 해당 매장에서 유효기간 내 사용 가능합니다.
        </p>
        <p>
            ※기타 부분은 매장으로 문의해주시기 바랍니다.
        </p>
    </div>

</body>
</html>