.title{
    font-size: 30px;
    font-weight: 800;
    background-color: rgba(124, 118, 121, 0.185);
    padding: 20px;
}
.explanation{
    margin-top :10px;
    font-size: 20px;
    font-weight: 550;
    color: rgb(17, 79, 160)
}
.card{
    margin-top: 30px;
    margin-bottom: 50px;
}
.cardImg1{
    width: 400px;
}
.cardImg2{
    width: 400px;
}
.cardImg3{
    width: 400px;
}