.list>ul{
    display: flex;
    align-items: center;
    justify-content: center;

}
.list{
    margin-bottom: 30px;
}
.li>a{
    padding: 15px 175px;
    border: 0.5px solid rgba(124, 118, 121, 0.185);
}
.event>a{
    background-color: rgba(124, 118, 121, 0.185);
}
.coup>a:hover{
    background-color: rgba(216, 216, 216, 0.185);
}
.image{
    width: 600px;
    margin-bottom: 100px;
}
.image>img{
    width: 100%;
}
@media(max-width:830px){
    .image{
        width: 500px;
    }
    .li>a{
        padding: 15px 50px;
    }
}