<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/table/table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
    <title>User List</title>
</head>
<body>
<nav id='navi' th:replace="fragments/common :: menu"></nav>
<h3 class="title">유저 리스트</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>프로필사진</th>
        <th>유저 ID</th>
        <th>이름</th>
        <th>이메일</th>
        <th>휴대폰 번호</th>
        <th>권한</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${users}">
        <td>
            <img th:src="${item.picture}" />
        </td>
        <td th:text="${item.id}">유저 ID</td>
        <td th:text="${item.name}">이름</td>
        <td th:text="${item.email}">이메일</td>
        <td th:text="${item.phoneNumber}">휴대폰 번호</td>
        <td th:text="${item.role}">권한</td>
        <td>
            <a href="#" th:href="@{/users/{id}/edit (id=${item.id})}"
               class="btn" role="button">수정</a>
        </td>
        <td>
            <a href="#" th:href="'javascript:cancel('+${item.id}+')'"
               class="btnD" role="button">삭제</a>
        </td>
    </tr>
    </tbody>
    <tfoot>
    <td colspan="8">
        <a class="btn" href="/">홈으로 돌아가기</a>
    </td>
    </tfoot>
</table>

</body>
<script>
    function cancel(id) {
        var form = document.createElement("form");
        form.setAttribute("method", "post");
        form.setAttribute("action", "/users/" + id + "/delete");
        document.body.appendChild(form);
        form.submit();
    }
</script>
</html>