<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav id='navi' th:fragment="menu">
    <ul>
        <li><a href="/">SE restaurant</a></li>
        <li class="active">레스토랑
            <ul>
                <li><a href="/restaurant/Hi">인사말</a>
                </li>
                <li><a href="/restaurant/location">매장 위치</a>
                </li>

            </ul>
        </li>
        <li class="active"><a href="#">메뉴</a>
            <ul>
                <li><a href="/menu/lunch">lunch</a>
                </li>
                <li><a href="/menu/dinner">dinner</a>
                </li>
            </ul>
        </li>
        <li class="active"><a href="#">멤버쉽</a>
            <ul>
                <li><a href="/membership/card">제휴 카드</a>
                </li>
                <li><a href="/membership/event">event</a>
                </li>
            </ul>
        </li>
        <li class="active"><a href="#">예약</a>
            <ul>
                <li><a href="/reservations/new">예약하기</a>
                </li>
                <li><a href="/reservations">예약 조회</a>
                </li>
                <li><a href="/reservation/statistics">이용 통계</a>
                </li>
            </ul>
        </li>
        <li class="active"><a href="#">고객센터</a>
            <ul>
                <li><a href="/customercenter/center">FAQ</a>
                </li>
                <li><a href="/customercenter/onetoone">1:1 문의</a>
                </li>
            </ul>
        </li>
        <th:block th:if="${session.user}">
        <li class="active" th:if="${session.user.role.getKey() == 'ROLE_ADMIN'}"><a href="#">관리자</a>
            <ul>
                <li>
                    <a href="/reservations">예약 현황</a>
                </li>
                <li>
                    <a href="/tables">테이블</a>
                </li>
                <li>
                    <a href="/users">유저 관리</a>
                </li>
            </ul>
        </li>
        </th:block>
        <li th:if="!${session.user}" class="active">
            <a href="/oauth2/authorization/google">로그인/회원가입</a>
        </li>
        <li th:unless="!${session.user}" class="active"><a href="#" th:text="|${session.user.name} 님|">회원정보</a>
            <ul>
                <li>
                    <a href="/logout">로그아웃</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
</body>

</html>
