@charset "uft-8";
html{
    text-align: center;
    height: 100vh;
    position: relative;
    min-height: 100%;
}
body{
    background-color: rgb(243, 240, 235);
    min-height: 100%;
}
header {
    width:100%;
    margin:0 auto;
}

nav {
    padding-bottom: 30px;
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*footer{*/
/*    margin:auto 0;*/
/*    width:100%;*/
/*    height: 150px;*/
/*    background:black;*/
/*}*/

/*footer>ul>li{*/
/*    font-size: 20px;*/
/*    color:#ffffff;*/
/*    float:left;*/
/*    padding:20px;*/
/*    margin-left: 180px;*/
/*}*/

*{
    margin:0;
    padding:0;
}
header{
    padding: 30px;
}

ul,li,ol{
    list-style:none;
}

a{
    text-decoration: none;
    color:inherit;
}

*{
    text-align: center;
}
#navi>ul{
    display:flex;
    width:100%;
    z-index: 1;
}

#navi>ul>li{
    width:20%;
    white-space:nowrap;
    text-overflow:ellipsis;
    padding:15px;
    background:gray;
    color:white;
    border-left:1px solid white;
    position:relative;
}

#navi>ul>li>ul{
    height:0;
    transition:0.5s;
    overflow:hidden;
    background:#ffffff;
    width:100%;
    position:absolute;
    left: -2px;
    top:54px;
    z-index: 0;
}

#navi>ul>li:hover>ul{
    height:125px;
    left:-2px;
    top:54px;
    border:2px solid black;
}

#navi>ul>li>ul>li{
    padding:10px;
    visibility:visible;
    opacity: 1;
}

#navi>ul>li:hover{
    background:lightgray;
    color: black;
    border-top:2px solid black;
    border-right:2px solid black;
    border-left:2px solid black;
}

#navi>ul>li{
    border:3px solid transparent;
}
#navi>ul>li>ul>li:hover{
    background:lightgray;
    color: black;
}