<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>dinner menu</title>
  <link rel="stylesheet" th:href="@{/css/menu/menu.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
</head>
<body>
  <nav id='navi' th:replace="fragments/common :: menu"></nav>
  <section id="contents">
    <h3 class="title">Dinner Menu</h3>
    <p>
    <img class="menu-img" th:src="@{/image/menuImg/dinner.jpg}">
    </p>
  </section>
  <footer></footer>
</body>
</html>