<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/menu/menu.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/nav.css}" type="text/css">
  <title>lunch menu</title>
</head>
<body>
  <nav id='navi' th:replace="fragments/common :: menu"></nav>
  <section id="contents">
    <h3 class="title">Lunch Menu</h3>
    <p>
    <img class="menu-img" th:src="@{/image/menuImg/lunch.jpg}">
    </p>
  </section>
  <footer></footer>
</body>
</html>