<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<li th:if="!${userName}">
    <a href="/login">로그인</a>
</li>
<li th:unless="!${userName}">
    <p th:text="${userName}">사용자 이름</p>
    <p th:text="${userEmail}">사용자 이메일</p>
    <a href="/logout">로그아웃</a>
</li>
<li>
    <a href="/reservations">예약 현황</a>
</li>
<li th:if="${userRole}">
    <a href="/tables">테이블</a>
</li>
<li th:if="${userRole}">
    <a href="/users">유저 관리</a>
</li>
</body>
</html>